table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05),
    0px 30px 20px rgba(0, 0, 0, 0.05);
}
h1, div{
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    text-align: center
}


th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}
th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}


input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    /*đường viền*/
    border: 2px solid red;
    border-radius: 4px;
}
input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    /*đường viền*/
    border: 2px solid red;
    border-radius: 4px;
}

/*khi trỏ vào*/
/*input[type=text]:focus {*/
/*    background-color: lightblue;*/
/*}*/

/*định dạng button*/
input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}